.App {
  margin: 0px;
  padding: 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  display: block !important;
  background-color: white;
}
.main {
  width: 500px; display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center
}
.todo-create {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
}

.todo-input {
  color: black;
  background-color: white;
  margin-top: 50px;
  padding-top: 10px;
  width: 100%;
  border: none;
  border-bottom: 1px solid lightgray;
  outline: none;
}

.todo-create-button {
  color: black;
  background-color: gold;
  margin-top: 10px;
  padding: 10px;
  border: none;
  font-weight: 700;
  cursor: pointer;
}

.todo-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-top: 10px;
}

.todo-icons {
  font-size: 25px;
  color: black;
  margin-right: 7px;
  cursor: pointer;
}